{
    "presets": [["@babel/preset-env", {
        "modules": false,
        "targets": "> 0.25%, not dead",
        "debug": true
    }]],
    "plugins": ["@babel/plugin-proposal-optional-chaining"]
}